!!!
%html{lang: 'en', dir: 'ltr'}
  %head
    %meta{charset: 'utf-8'}
    %title Packman

    %link(href="css/bootstrap.css" rel="stylesheet")
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }

  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar

          %a.brand(href="/") Packman

    .container= yield